{% comment %} {% extends 'base.html' %}
{% load cache %}
{% load infoblock_tag %}
{% block content %}

    {% infoblock_query %}

    {% include 'core/components/search_field.html' %}

    {% cache 600 index_page %}
        <div class="main-container">
            <ul class="nav nav-pills nav-justified mt-5" id="index-tabs" role="tablist" style="border: solid 2px #f9f9f7">
                <li class="nav-item" role="presentation">
                    <button
                            class="nav-link active fs-5 fw-bold"
                            id="brands-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#brands"
                            type="button"
                            role="tab"
                            aria-controls="brands"
                            aria-selected="true">
                        Каталог по производителям
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button
                        class="nav-link fs-5 fw-bold"
                        id="categories-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#categories"
                        type="button"
                        role="tab"
                        aria-controls="categories"
                        aria-selected="false"
                    >
                    Каталог по направлениям
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="index-tabs-content">
                <div class="tab-pane fade show active" id="brands" role="tabpanel" aria-labelledby="brands-tab">
                    {% include 'core/components/brands_tab.html' %}
                </div>
                <div class="tab-pane fade show" id="categories" role="tabpanel" aria-labelledby="categories-tab">
                    {% include 'core/components/categories_tab.html' %}
                </div>
            </div>
        </div>
    {% endcache %}

{% endblock %}       {% endcomment %}
{% load static %}
{% load infoblock_tag %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ООО НДА Деловая медицинская компания</title>
    <meta name="description"
        content='Компания "НДА Деловая Медицинская Компания" уже 28 лет является Вашим партнером и поставщиком оборудования и расходных материалов для хирургии, анестезиологии, реанимации и других направлений.'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>



    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/style.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/media.css'%}" type="text/css">
    <style>
        
    </style>
    


 
</head>

<body>
    {% block content%}
    <header>
        <!-- летающая шапка -->
        {% include "core/components/flyingHeader.html" %}
       


        <!-- летающая шапка -->
        <!-- subheader только на главной -->

        {% include "core/components/subheader.html" %}

    </header>
    <main>
   
        <div class="container1">
            <div class="catalog">
                <h2>Каталог</h2>
                <div class="choice">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="active" id="pills-home-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                                aria-selected="true">Выбор по производителю</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="" id="pills-profile-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                                aria-selected="false">Выбор по категориям</button>
                        </li>
                    </ul>
                </div>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel"
                        aria-labelledby="pills-home-tab">
                        <!-- Выбор по производителям -->
                        <!-- каталог -->
                        <div class="catalogItems">
                            <a href="#">
                                <div class="catalogItem">

                                    <div class="catalogItemImg">
                                        <img src="images/brands/Davos_Partner_0006_johnson_and_johnson_logo 1.png"
                                            alt="">
                                    </div>
                                    <h3>JOHNSON & JOHNSON</h3>
                                    <p>ШОВНЫЙ МАТЕРИАЛ, СШИВАЮЩИЕ АППАРАТЫ, ГЕМОСТАТИКИ</p>
                                </div>
                            </a>

                            <a href="brand.html">
                                <div class="catalogItem">

                                    <div class="catalogItemImg">
                                        <img src="images/brands/Medtronic.png" alt="">
                                    </div>
                                    <h3>Medtronic</h3>
                                    <p>ШОВНЫЙ МАТЕРИАЛ, СШИВАЮЩИЕ АППАРАТЫ, ГЕМОСТАТИКИ</p>
                                </div>
                            </a>

                            <a href="#">
                                <div class="catalogItem">

                                    <div class="catalogItemImg">
                                        <img src="images/brands/Davos_Partner_0006_johnson_and_johnson_logo 1.png"
                                            alt="">
                                    </div>
                                    <h3>JOHNSON & JOHNSON</h3>
                                    <p>ШОВНЫЙ МАТЕРИАЛ, СШИВАЮЩИЕ АППАРАТЫ, ГЕМОСТАТИКИ</p>
                                </div>
                            </a>

                            <a href="#">
                                <div class="catalogItem">

                                    <div class="catalogItemImg">
                                        <img src="images/brands/Davos_Partner_0006_johnson_and_johnson_logo 1.png"
                                            alt="">
                                    </div>
                                    <h3>JOHNSON & JOHNSON</h3>
                                    <p>ШОВНЫЙ МАТЕРИАЛ, СШИВАЮЩИЕ АППАРАТЫ, ГЕМОСТАТИКИ</p>
                                </div>
                            </a>

                            <a href="#">
                                <div class="catalogItem">

                                    <div class="catalogItemImg">
                                        <img src="images/brands/Davos_Partner_0006_johnson_and_johnson_logo 1.png"
                                            alt="">
                                    </div>
                                    <h3>JOHNSON & JOHNSON</h3>
                                    <p>ШОВНЫЙ МАТЕРИАЛ, СШИВАЮЩИЕ АППАРАТЫ, ГЕМОСТАТИКИ</p>
                                </div>
                            </a>

                            <a href="#">
                                <div class="catalogItem">

                                    <div class="catalogItemImg">
                                        <img src="images/brands/Davos_Partner_0006_johnson_and_johnson_logo 1.png"
                                            alt="">
                                    </div>
                                    <h3>JOHNSON & JOHNSON</h3>
                                    <p>ШОВНЫЙ МАТЕРИАЛ, СШИВАЮЩИЕ АППАРАТЫ, ГЕМОСТАТИКИ</p>
                                </div>
                            </a>


                            <!-- 3 пустых дива - для ровной сетки flex -->
                            <div class="emptyEl"></div>
                            <div class="emptyEl"></div>
                            <div class="emptyEl"></div>
                            <!-- 3 пустых дива - для ровной сетки flex -->
                        </div>
                        <!-- конец каталога -->
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <!-- Выбор по категориям -->
                        <div class="catalogItems">

                            <a href="#">
                                <div class="catalogItem">

                                    <div class="catalogItemImg">
                                        <img src="images/brands/Davos_Partner_0006_johnson_and_johnson_logo 1.png"
                                            alt="">
                                    </div>
                                    <h3>Категория</h3>
                                    <p>Описание категории</p>
                                </div>
                            </a>

                            <!-- 3 пустых дива - для ровной сетки flex -->
                            <div class="emptyEl"></div>
                            <div class="emptyEl"></div>
                            <div class="emptyEl"></div>
                            <!-- 3 пустых дива - для ровной сетки flex -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="infoMain">
                <div class="infoImg">
                    <div class="slider-container sliderInfo">
                        <div class="slider sliderInfo">
                            <div class="sliderImg">
                                <img src="{% static 'images/Sklad NDA.jpg' %}" alt="">
                            </div>
                            <div class="sliderImg">
                                <img src="{% static 'images/Sklad NDA_2.jpg' %}" alt="">
                            </div>
                            <div class="sliderImg">
                                <img src="{% static 'images/Sklad NDA_5.jpg' %}" alt="">
                            </div>
                        </div>
                        <div class="slick-dots"></div>
                    </div>
                </div>
                <div class="infoText">
                    <h3>Работаем для <br> вас с 1992 года</h3>
                    <p>Компания "НДА Деловая медицинская компания" уже 33 года является Вашим партнером и поставщиком
                        оборудования и расходных материалов для хирургии, анестезиологии и реанимации, рентгенхирургии и
                        других направлений. </p>
                    <p>Наш новый складской комплекс, расположенный на площади более 6000 квадратных метров позволяет
                        компании имеет большие складские запасы самых популярных товаров, поэтому может поставить их в
                        короткие сроки. Мы гарантируем Вам качество продукции, представленной на сайте. На все товары
                        нашего каталога есть Регистрационные удостоверения МЗ РФ. </p>
                    <p>Нашими поставщиками являются мировые лидеры в производстве оборудования и расходных медицинских
                        материалов. С их продукцией Вы можете ознакомиться на нашем сайте. </p>
                    <p>В настоящее время у нашей компании более 7500 клиентов. Таких успехов мы добились благодаря
                        слаженной работе всего нашего дружного коллектива и конечно благодаря Вам - нашим клиентам.</p>
                    <!-- <a href="#">
                        <div class="buttonInfo button">
                            <div class="subheaderProductText">Узнать больше</div>
                            <img src="images/SubheaderProductArrow.svg" alt="">
                        </div>
                    </a> -->
                </div>
            </div>
            <div class="place">
                <h2>Наш офис и склад</h2>
                <!-- <p>Наши 5 филиалов в Санкт-Петербуге являются частью большой сети клиник. У нас есть учебный центр,
                    который готовит лучших врачей и ассистентов в России. В наших филалах работают стоматологи всех
                    специализаций: врачи общего профиля, ортодонты, ортопеды, пародонтологи, хирурги (в том числе -
                    челюстно-лицевого профиля), имплантологи, анестезиологи-реаниматологи.</p> -->
                <div class="map">
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A483b0761fd50f52fa933af3311c796503d73aaca44becb79b973a587356fa263&amp;source=constructor&theme=dark" width="100%" height="100%" frameborder="0"></iframe>
                </div>
            </div>
        </div>



        <!-- формы на странице -->

        <!-- плавающий элемент с формами связи -->

       {% include "core/components/formsContainer.html" %}

        <!-- плавающий элемент с формами связи -->
        <!-- формы на странице -->




    </main>
    {% include "core/components/footer.html" %}
    <script src="{% static 'scripts/indexCarouselInfo.js' %}"></script>
    <script src="{% static 'scripts/indexCarouselSubheader.js' %}"></script>
    <script src="{% static 'scripts/formController.js' %}"></script>
</body>
{% endblock %}   
</html>